---
import ThemeToggle from "./ThemeToggleButton";
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/" class="group">
        <h2
          class="font-semibold tracking-lighter p-2 lg:pl-0 font-mplus text-lg"
        >
          Chat App
        </h2>
      </a>
      <div class="flex-1"></div>
      <ThemeToggle client:load />
    </nav>
  </div>
</header>
